@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --font1:'Playfair Display', serif;
    --font2:'Roboto', sans-serif;

    --primary:#fff;
    --secondary:#000;

    --green:#008940;
    --blue:#133E79;
}
body{
    font-family: var(--font2);
    margin: 77px 90px;
    height: 100vh;
}

.container{

}

 /*INICIO NAVBAR*/

header{
  
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li{
    margin-right: 50px;
    list-style-type: none;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

nav ul li a:hover{
    color: var(--green);
    font-weight: 700;
    
}

.marca{
    align-items: center;
    display: flex;
    
}

.marca h1{
    padding-left: 20px;
    color: var(--blue);
}

.marca a{
}

#btn-mobile{
    display: none;
}



/*FIM NAVBAR*/

main{
    display: flex;
    margin-top: 87px;
    justify-content: space-around;
}

main section h1{
    font-size: 80px;
    text-align: center;
    font-family: var(--font1);
    color: var(--blue);
}

main section h1 strong{
    color: var(--green);
}

.info{
    width: 50vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1{
    margin-top: 100px;
}

.slideshow{
    width: 30vw;
    height: auto;
    position: relative;
}


.vertical-line{

}

.vertical-line1{


}

.botao{
    background-color: var(--blue);
    color: white;
    font-size: 3vh ;
    border: none;
    width: 20%;
    height:30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 155px;
}

.box-slide{

}

.item{
    height: auto;
} 


/*
 MEDIA QUERY
*/

@media (max-width:1180px){
    nav ul{
      display: none;
    }
    .marca{
        justify-content: center;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }

    #menu {
        display: block;
        position: absolute;
        width: 30%;
        top: 110px;
        right: 0px;
        background: #008940e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        border-radius: 20px;
      }

      #nav.active #menu {
        height: 50%;
        visibility: visible;
        overflow-y: auto;
        display: block;
        
      }

      #menu a{
          color: var(--primary);
        margin: 0 1rem;
        border-bottom: 2px solid var(--blue);
        
      }

      #menu li{
          margin-top: 20px;
        padding-bottom: 30px;
      }

      #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: var(--green);
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
        
      }
      #nav.active #hamburger {
        border-top-color: transparent;
        color: red;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
}

@media(max-width:578px){
    nav .marca h1{
        display: none;
    }

    nav .marca img{
        width: 20%;
    }
}